:root {
    --button-background-color-primary: #00BFF3;
    --button-text-color-primary: #000000;
}

/* css buttons */
.css-button, .css-button:disabled, .css-button-disabled, .css-button:active, .css-button-active {
    background: var(--button-background-color-primary);
    background-image: -webkit-linear-gradient(top, var(--button-background-color-primary), #2980b9);
    background-image: -moz-linear-gradient(top, var(--button-background-color-primary), #2980b9);
    background-image: -ms-linear-gradient(top, var(--button-background-color-primary), #2980b9);
    background-image: -o-linear-gradient(top, var(--button-background-color-primary), #2980b9);
    background-image: linear-gradient(to bottom, var(--button-background-color-primary), #2980b9);
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    font-family: Arial;
    color: var(--button-text-color-primary);
    font-size: 100%;
    padding: .75em 2.5em;
    margin: 4px 2px;
    text-decoration: none;
    text-align:center;
    vertical-align: middle;
    border: 1px;
    display: inline-block;
  }
  
  .css-button-disabled, .css-button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
  
  .css-button:hover, .css-button-disabled:hover, .css-button-active:hover, .css-button:hover:active, .css-buton:hover:disabled {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, var(--button-background-color-primary));
    background-image: -moz-linear-gradient(top, #3cb0fd, var(--button-background-color-primary));
    background-image: -ms-linear-gradient(top, #3cb0fd, var(--button-background-color-primary));
    background-image: -o-linear-gradient(top, #3cb0fd, var(--button-background-color-primary));
    background-image: linear-gradient(to bottom, #3cb0fd, var(--button-background-color-primary));
    text-decoration: none;
  }
  
  /* qualifiers for css-button, css-button-disabled, css-button-active  (e.g. class="css-button btn-xsmall") */
  .btn-xsmall, .btn-xsmall:active, .btn-xsmall:disabled {
      font-size: 70%;
      padding: 5px 10px 5px 10px;
  }
  
  .btn-small, .btn-small:active, .btn-small:disabled {
      font-size: 85%;
      padding: 8px 12px 8px 12px;
  }
  
  .btn-large, .btn-large:active, .btn-large:disabled {
      font-size: 110%;
      padding: 12px 20px 12px 20px;
  }
  
  .btn-xlarge, .btn-xlarge:active, .btn-xlarge:disabled {
      font-size: 125%;
      padding: 14px 24px 14px 24px;
  }
  .pc_page_button_container {
      text-align:center;
      margin-bottom:5px;
  }
  